body{
    background-image: url("../../assets/images/groundback.png");

}

h1 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 2em;
    clear: both;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    width: 100%;
    height: 4em;
}

#gameTitle {
    float:right;
    font-size: 3em;
    margin-right: 2em;
}

/* your character style */
#yourCharacters {
    width: 100%;
    height: 10em;
}

.teamObi, .teamLuke, .teamDarth, .teamMaul {
    position: relative;
    width: 12em;
    height: 8em;
    float: left;
    /* border: green 2px solid; */
    text-align: center;
    
}

.character, .enemy, .defender {
    /* position: relative;
    width: 12em;
    height: 8em;
    float: left;
    border: green 2px solid;
    text-align: center; */
}

#obiImg, #lukeImg, #darthImg, #maulImg {
    display: inline-block;
    position: absolute;
    left: 1.5em;
    width: 115px;
    height: 130px;
}

.character p, .enemy p, .defender p {
    position: absolute;
    bottom: 0;
    left: 5.25em;
}

/* enemies style */
#enemies {
    width: 100%;
    height: 9em;
}

.enemy {
    background: red;
}

/* fight section */
#fightSection {
    width: 100%;
    height: 4em;
}

/* defenders style */
#defenders {
    width: 100%;
    height: 9em;
}

.defender {
    background: black;
    color: white;
}
